<div class="bg-white p-8 rounded-xl shadow-lg flex flex-col items-center space-y-6">
  <h1 class="text-2xl font-bold mb-4">Tarot Quiz</h1>

  <p class="mb-6 text-gray-700">
    Test your tarot knowledge by matching cards to their meanings.
  </p>

  <%= button_to "Start Quiz", quizzes_path, method: :post,
    class: "bg-purple-600 text-white px-6 py-3 rounded-lg" %>

</div>
